<html>
  <head>
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
  </head>
  <body>
<script>
var experiment = {}
experiment.pushedLever = false;
experiment.ready = false;
experiment.finished = false;
experiment.aninationDuration = 5000; //ms
  
function sendExperimentData(data){
    const datapointAddRequest = new XMLHttpRequest();
    datapointAddRequest.onload = function() { console.log(this.responseText, " Check result at " + window.location.origin + "/flat.html "); };
    datapointAddRequest.open('get', '/addDatapoint' + "?datapoint=" + encodeURIComponent(data), true );
    datapointAddRequest.send();
}
  
AFRAME.registerComponent('cursor-listener', {
  init: function () {
    var el = this.el
    this.el.addEventListener('click', function (evt) {
      console.log( el.id, 'was clicked at' ); 
      switch ( el.id ){
        case "engine-start-button" :
          el.emit("pushed")
          document.querySelector("#camera-rig").emit("go")
          setTimeout(function(){ 
            if ( experiment.pushedLever ){
              el.emit("goleft")
              sendExperimentData("Left")
            } else {
              el.emit("goright")
              sendExperimentData("Right")
            }
          }, experiment.aninationDuration);
          for (instruction of document.querySelectorAll(".instructions") )
            instruction.setAttribute("visible", false)
          break;
        case "lever" :
          // could be conditional on experiment.ready
          el.emit("pushedlever")
          experiment.pushedLever = true;
        break;
      }
      
      
    });
  }
});
  
  
/* 
assets

trolley https://poly.google.com/view/9r3vGMUz2Hc

humans
 https://poly.google.com/view/46UhpqiHmS-
 https://poly.google.com/view/77Jr8NGPtHE
 https://poly.google.com/view/12EHxMhKrbo
 https://poly.google.com/view/3YDLMGCBKnL
 
track
 https://poly.google.com/view/covd74kLslj
*/
</script>
  
    <a-scene>
      <a-assets>
        <a-asset-item id="morty" src="https://fabien.benetou.fr/pub/home/assets_trolley_problem/morty/model.gltf"></a-asset-item>
        <a-asset-item id="trolley" src="https://fabien.benetou.fr/pub/home/assets_trolley_problem/trolley/model.gltf"></a-asset-item>
        <a-asset-item id="track" src="https://fabien.benetou.fr/pub/home/assets_trolley_problem/tracks/model.gltf"></a-asset-item>
        <a-asset-item id="startengine" src="https://fabien.benetou.fr/pub/home/assets_trolley_problem/startengine.mp3"></a-asset-item>
      </a-assets>
      <a-entity environment="preset: forest"></a-entity>
      
      <a-entity id="camera-rig" animation="property: position; to: 1.5 0 -7; dur: 5000; easing: linear; startEvents:go;"
                 animation__left="property: position; to: -2,7 0 -15; dur: 5000; easing: linear; startEvents:goleft;"
                 animation__right="property: position; to: 3.4 0 -15; dur: 5000; easing: linear; startEvents:goright;"
                sound="src: (#startengine); autoplay: true">
        <a-entity class="instructions" text="value: Ready?" position="0.2 1.3 -0.4"></a-entity>
        <a-entity class="instructions" text="value: Look here to start." position="0.5 1.3 -0.4"></a-entity>
        <a-box cursor-listener id="engine-start-button" color="red" position="0.19325 1.36319 -0.44538" scale="0.2 0.1 0.02"
                animation="property: position; to: 0.19325 1.36319 -0.5; dur: 500; easing: linear; startEvents:pushed;"></a-box>
        <a-entity id="movingtrolley" position="-0.2 -5.6 0.5" scale="5 5 5" gltf-model="#trolley"></a-entity>
        <a-entity camera look-controls position="0 1.6 0">
          <a-entity cursor="fuse: true; fuseTimeout: 500"
                    position="0 0 -0.3"
                    geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                    material="color: black; shader: flat">
          </a-entity>
        </a-entity>
      </a-entity>
      
      <a-entity cursor-listener id="lever" position="2.64697 0.5 -7" geometry="primitive: cylinder; radius: 0.05" material=""
                animation="property: position; to: 2.64697 0.1 -7; dur: 1500; easing: linear; startEvents:pushedlever;">
        <a-sphere position="0 0.5" radius="0.1" color="red"></a-sphere>
      </a-entity>
      
      <a-entity id="track1-1" class="track-segment" position="3.47641 -3.26371 -5.85719" rotation="0 78.73" gltf-model="#track" scale="5 5 5"></a-entity>
      <a-entity id="track1-2" class="track-segment" position="4.27192 -3.26371 -9.82667" rotation="0 78.73" gltf-model="#track" scale="5 5 5"></a-entity>
      <a-entity id="track1-3" class="track-segment" position="5.08659 -3.26371 -13.92471" rotation="0 78.73" gltf-model="#track" scale="5 5 5"></a-entity>
      
      <a-entity id="track3-1" class="track-segment" position="1.96955 -3.26371 -12.35657" rotation="0 119.99" gltf-model="#track" scale="5 5 5"></a-entity>
      <a-entity id="track3-2" class="track-segment" position="-0.07333 -3.26371 -15.96363" rotation="0 119.99" gltf-model="#track" scale="5 5 5"></a-entity>
      
      <a-entity id="human1" class="human" position="-3 0 -15" gltf-model="#morty"></a-entity>
      
      <a-entity id="human2" class="human" position="3 0 -15" gltf-model="#morty"></a-entity>
      <a-entity id="human3" class="human" position="3.5 0.2 -15" gltf-model="#morty"></a-entity>
      <a-entity id="human4" class="human" position="4 0 -15" gltf-model="#morty"></a-entity>
      
      <a-sky color="#ECECEC"></a-sky>
    </a-scene>
  </body>
</html>